@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scan {
  0% { transform: translateY(-10%); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translateY(1000%); opacity: 0; }
}

.animate-scan {
  animation: scan 3s linear infinite;
}

@keyframes flash-red {
  0%, 100% { background-color: rgba(220, 38, 38, 0); }
  50% { background-color: rgba(220, 38, 38, 0.3); }
}

.alert-flash {
  animation: flash-red 0.5s infinite;
}

/* Custom Scrollbar สำหรับ Monitor Page */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444;
}
